<div class="col s12">
    <div class="container">
        <div class="section">
            <h2 align="center">SMS</h2>            
        </div>
        <div class="section">
            <div class="row">
                <form class="col s12" method="post">
                
                <div class="row">
                    <div class="input-field col s6">
                        <select name="sms_standard">
                        <option value="ALL" selected>ALL</option>
                        {{#each standards}}
                        <option value="{{this._id}}">{{code}}</option>
                        {{/each}}
                        </select>
                        <label>Standard</label>
                    </div>
                    <div class="input-field col s6">
                        <select id="sms_section" name="sms_section" hidden>
                        <option value="" disabled selected>Choose your option</option>
                        </select>
                        <label>Section</label>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea name="text" class="materialize-textarea"></textarea>
                            <label for="text">Message</label>
                        </div>
                    </div>
                    <div class="input-field col s12">
                        <div class="section">
                            <center>
                            <div class="container">
                                <button type="submit" class="btn large">Send</button>
                            </div>
                            </center>
                        </div>
                    </div>                    
                </div>
                </form>
            </div>
        </div>
    </div>
</div>